PORT=8000
DATABASE_URL=  db url here
CORS_ORIGIN=http://localhost:5173

REFRESH_TOKEN_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9
REFRESH_TOKEN_EXPIRATION=7d
ACCESS_TOKEN_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9
ACCESS_TOKEN_EXPIRATION=1d

NODE_ENV=development

CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxxxxxxx

# google id for login
GOOGLE_CLIENT_ID=your_google_client_id